
html,
body {
  font-family: "Roboto Condensed";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.nav-link:hover {
  opacity: 1;
  color: white;
}

.nav-link {
  margin: 0 20px;
  color: rgb(0, 0, 0);
  padding: 10px 25px !important;
}

.offcan {
  margin-top: 50px !important;
}

.nav-link.active {
  color: white !important;
}

h1 {
  font-size: 60px;
}

#mobile {
  display: none;
}
.teamimage{
width: 100vw;
}
.wrapper{
  padding: 50px;
}
.slides {
  height: auto;
  width: 100vw;
}

.slides img {
   width: 100vw;
  height: 600px!important; 
  border-radius: 30px;
}
.card-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

 /* mom-secton */
.momdiv1{
padding: 0px 60px;
padding-bottom:0px ;

}
.momdiv1 h3{
color: #19496E;

}
.momdiv1 h2{
color: #4eaaf1;
}
.momdiv2{
padding: 80px 60px;
padding-bottom:0px ;
display: flex;
align-items: center;
justify-content: center;
}
.mompara{
margin-top: -70px!important;
line-height: 34px;
font-size:18px;
color: rgba(18, 18, 18, 0.753);
}
.map-responsive{
overflow:hidden;
padding-bottom:50%;
position:relative;
height:0;
}
.map-responsive iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
.myname{
margin-left: 10px;
}
.footersubtitle{
font-size: 10px;
}
@media (max-width: 350px){
.card-title{
font-size: 12px;
}
.card-subtitle{
font-size:8px ;
}
.card-text{
font-size: 7px;
}
.card-img{
height:120px;
}}
@media (max-width: 452px) {
  h1 {
    font-size: 30px !important;
  }

  .card-subtitle {
    font-size: 12px;
  }
  .mompara{
    line-height: 27px!important;
font-size: 14px!important;
margin-top: -30px!important;
}
.momdiv1{
padding: 50px  20px  0  20px!important;
padding-bottom: 2px;

}
.momdiv2{
padding: 28px 0px!important;
padding-bottom: 0px!important;

}
.wrapper{
  padding: 10px;
}
.slides {
  height: auto;
  width: 100vw;
}

.slides img {
   width: 100vw;
  height: 300px!important; 
  border-radius: 10px;
}
.mompara{
  margin-top:-50px !important;
}
}

@media (max-width: 992px) {
  .momdiv1{
    padding: 50px 20px;
  }
  #mom{
    padding-top: 0px;
    padding-bottom: 40px;
  }
  h1 {
    font-size: 40px;
  }

  #mobile {
    display: block;
  }

  #pc {
    display: none;
  }
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}


